body {
  background-color: rgb(29, 29, 29);
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  align-items: center;
  font-family: sans-serif;
}

.count {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.count > p {
  font-size: 32px;
  margin: 0;
  padding: 0;
}

.count > h1 {
  font-size: 82px;
  margin: 0;
  padding: 0;
}

.btns {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.btns > button {
  width: 120px;
  background-color: #000;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  padding: 10px;
  outline: none;
  font-family: inherit;
  font-weight: bold;
  transition: 0.2s;
}

.btns > button:hover {
  opacity: 0.7;
}

.error {
  color: red;
  font-weight: bold;
  text-decoration: underline;
}
